//Header
.contain{
    a{
        text-decoration: none;
        color: white;
        font-size: 33px;
        margin: 3px;
    }
    .image{
        img{
            height: 100%;
            width: 100%;
            border-radius: 50%;
            border: 10px solid rgb(48, 47, 47);
        }
    }
}
.icon{
    ul{
        li{
            a{
                font-size: 20px;
            }
        }
    }
    
}
//All
h1,h3{
    color: rgb(236, 25, 25);
}
//First Page
.first{
    background-image:url("/images/pics.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    .d-block{
        margin-top: 30px;
        margin-left: 50px;
       
    }
    h3{
         color: rgb(247, 114, 5);
         font-size: 50px;
    }
    h1{
        font-size: 50px;
        color: rgb(247, 114, 5);
    }
}
// About
.image{
    img{
        height: 100%;
        width: 100%;
    }
}
 // TRAVEL
 .main{
    background-color:rgb(231, 231, 230);
    .head{
        font-size: 30px;
        font-weight: bold;
        color: rgb(231, 93, 12);
        margin: 0 0 20px 100px;
        padding-top: 20px;
    }
    .container{
        margin-top: 50px;
        .row{
            .col-4{
                .card{
                    margin-bottom: 30px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    .nam{
                        font-size: 16px;
                        font-weight: 700;
                        text-decoration: none;
                        color: black;
                        padding: 10px 0 10px 10px;
                    }
                }
            }
        }
    }
}

        // TRAVEL DETAILS
.tour{
    background-color: rgb(231, 231, 230);
    .heading{
        font-size: 30px;
        color: rgb(231, 93, 12);
        font-weight: bold;
        padding-top: 20px;
        text-align: center;
    }
    .phot{
        img{
            height: 100%;
            width: 100%;
        }
    }
}